@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .border-long-dashed {
        position: relative;
        border: 2px dashed transparent; /* Tạo đường nét đứt nhưng ẩn */
        background: linear-gradient(white, white) padding-box, repeating-linear-gradient(45deg, #d1d5db 0, #d1d5db 10px, transparent 10px, transparent 15px) border-box;
    }

    .aim-ative{
        @apply border-[#0A7CED] text-[#0A7CED] bg-[#DFEDFF] px-3 py-2 border font-semibold transform duration-300 rounded-md
    }

    .aim-not-active{
        @apply bg-[#F1F5F9] text-[#64748B] px-3 py-2 rounded-md font-semibold transform duration-300 border border-[#F1F5F9]
    }

}

